@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;1,600&family=Quicksand:wght@400;700&family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Ubuntu', sans-serif;
    --first-accent-color: #f6c43d; 
    --second-accent-color: #1088e4; 
    --snow-color: #fff;
    --dark-text-color: #222;
    --light-text-color: #898989;
    --background-color: #f6f6f6;
}

h1,
h2,
h3 {
    font-family: 'Barlow Condensed', sans-serif;
}

img {
    width: 100%;
    display: block;
}
.container{
    min-width: 340px;
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
body{
    background-color: var(--background-color);
}
.section{
    padding-top: 110px;
    padding-bottom: 120px;
}