.headquater{
   color: #f6c43d;
}
.contacts__header{
    color: #222;
}

.facebook__icon{
    display: flex;
   margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 10px;
    width: 30px;
    height: 30px;
}
.instagram__icon{
    display: flex;
    margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 10px;
    width: 30px;
    height: 30px;
}
.youtube__icon{
    display: flex;
    margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 10px;
    width: 30px;
    height: 30px;
}
