.contacts__general__info{
    min-height: 797px;
    background: url(../img/contactsbg.webp);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
    
.contacts__wrapper{
    border: 1px solid #f6c43d;
    background-color: #fff;
    padding: 0px 15px;
    width: 470px;
    height: 540px;
    margin-left: -45px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.headquater{
    
    color: #f6c43d;
    font-weight: 500;
    letter-spacing: 0.12em;
    font-size: 14px;
    margin-bottom: 28px;
    
}
.contacts__header{
    color: #222;
    font-size: 65px;
    margin-bottom: 25px;
    font-weight: 700;
    font-family:"Barlow Condensed", sans-serif ;
}
.contacts__adress{
    width: 222px;
    text-align: center;
    margin-bottom: 34px;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -.022em;
    color: #898989;
}
.comunication__data{
    font-size: 20px;
    color: #f6c43d;
    font-family: "Ubuntu",sans-serif;
}
.comunication__number{
    margin-bottom: 6px;
    font-family: "Ubuntu",sans-serif;
    font-weight: 300;
}
.comunication__email{
    font-family: "Ubuntu",sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
}


.contacts__btn{

    width: 155px;
    background-color: #f6c43d;
    padding: 15px 10px;
    border: none ;
    border-radius: 25px;
    text-transform: uppercase;
    font-family: "Ubuntu",sans-serif;
    font-weight: 700;

    color: white;
}

.contacts__map{   
    width: 735px;
  
   

}
.contacts-list {
    display: flex;
    margin-top: 30px;
}


.icon {
    width: 17px;
    height: 17px;
    fill: red;
}

.contacts-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
   
}

.contacts-list-item {
    width: 30px;
    height: 30px;

    margin-left: 10px;
}

.contacts-icon-link:hover,
.contacts-icon-link:focus {
    background-color: #f6c43d ;
}