h1,
h2 {
    color: var(--first-accent-color);
}

.title__background {
    background-image: url(/img/header-background.webp);
    background-repeat: no-repeat;
    background-position-x: center;
}


.header__logo__container {
    z-index: 10000;
    max-width: 97px;
}


.navbar {
    padding-top: 35px;
}

.navbar-toggler {
    border: 0px;
}

.navbar__container {
    min-width: 340px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 0 35px;
    justify-content: space-between;
    width: 100%;
}

.navbar__none {
    display: none;
}

.navbar__container>.no-button>.navbar-nav {
    flex-direction: row;

}

.offcanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    padding-top: 70px;
    width: 100%;
    min-width: 340px;
    max-width: 1200px;
    margin: auto;
}

.btn-close {
    position: absolute;
    right: 70px;
    top: 55px;
}

.offcanvas-header {
    padding: 0;
    width: 100%;
    justify-content: space-between;
}

.offcanvas-body {
    text-align: center;
    margin: 35px;
}

.offcanvas-body > .container__social__icon {
    margin: 40px auto;
}

.header__nav__item {
    margin: 10px 17.5px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: var(--dark-text-color);

}

.header__nav__item > a :hover {
    color: var(--first-accent-color);
}


.container__social__icon {
    width: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social__icon {
    max-width: 30px;
}

.title__wrapper {
    padding: 90px 0;
    display: flex;
    flex-direction: column;
}

.title__divider,
.title__nuc {
    color: var(--second-accent-color);
    margin-right: 5px;
}

.title__before {
    font-size: 18px;
    font-weight: 700;
}



.title__main {
    font-family: 'Barlow Condensed', sans-serif;
    word-wrap: break-word;
    font-size: 200px;
    font-weight: 600;
    margin-top: 25px;
}
.clock {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    font-size: 100px;
}   

.title__buton {
    width: 305px;
    height: 68.5px;
    margin-top: 55px;
    margin-bottom: 30px;
    font-size: 16.5px;
    font-weight: 700;
    display: flex;
    align-items: center;
}


.title__buton>a {
    background-color: var(--second-accent-color);
    color: var(--snow-color);
    font-size: 16.5px;
    font-weight: 700;
    width: 165px;
    height: 48.5px;
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__buton>a:hover {
    background-color: var(--first-accent-color);
}

.pricin__roll {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.pricin__roll>a {
    color: var(--first-accent-color);
    display: flex;
    text-decoration: none;
}

.pricin__roll:hover {
    text-decoration: underline;
}

.pricin__roll>a>img {
    width: 18px;
}

@media (min-width:992px) {
    .navbar__none {
        margin-right: 35px;
        display: flex;

    }

    .navbar__none>ul {
        flex-direction: row;
    }

    .button__none {
        display: none;
    }
}