/* Lora Yaremchuk start Section- Pick up your car */
.pickup{
    padding: 50px 0 90px 0;
    background-color: #222;
    text-align: center;
    
}

.pickup__subtitle{
    color: #f6c43d;
}

.divider{
    color: #f6c43d;
}

.pickup__title{
    color: #fff;
    font-weight: bold;
    
}

.header__description{
    color: rgba(255,255,255,0.67);
}

.gallery__upper{
    width: 350px;
    display: flex;
    grid-template-columns: 300px 300px;
 
     
}

.gallery__bottom{
    width: 350px;
    display: flex;
    grid-template-columns: 300px 300px;
   
}