/* Yulia Yaremchuk */

.pricing { 
   background-image: url(../img/pricing-background.png); 
   background-size: cover; 
   background-position: 50% 50%; 
   min-width: 320px; 
   display: block; 
   transition-duration: 0.3s;
   padding-top: 110px;
   padding-bottom: 120px;
} 

.pricing__container { 
  display: block;  
  padding-left: 32px; 
  padding-right: 32px; 
  padding-bottom: 105px; 
  padding-top: 100px; 
  font-weight: 400; 
  height: 897.85px;
} 

.title__container { 
 margin-top: 30px; 
 padding-left: 15px; 
 padding-right: 15px; 
 height: 209.4px;
 text-align: center;
} 

.pricing__subtitle { 
   text-align: center; 
   font-size: 14px; 
   letter-spacing: 1.4px; 
   line-height: 22.4px; 
   font-weight: 700; 
   color: var(--first-accent-color); 
} 

.pricing__title { 
   text-align: center; 
   font-size: 52px; 
   line-height: 52px; 
   font-weight: 700; 
   color: var(--dark-text-color); 
   margin-top: 30px; 
} 

.pricing__text { 
   text-align: center; 
   font-size: 20px; 
   line-height: 30px; 
   font-weight: 400; 
   color: var(--light-text-color); 
   margin-top: 15px; 
   margin-left: 117.2px;
   margin-right: 117.2px;
} 

.pricing__promo { 
  display: flex; 
  justify-content: center; 
  margin-top: 60px; 
  line-height: 27.54px;
} 

.promo__per-day { 
  display: flex; 
  background-color: var(--snow-color); 
  flex-direction: column; 
  justify-content: center; 
  text-align: left;  
  width: 344.788px; 
  height: 583.912px;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
} 

.promo__subtitle {
   font-size: 14px;
   display: block;
   color: var(--first-accent-color);
}

.promo__price {
   display: block;
   font-size: 132px;
   line-height: 132px;
   width: 178.387px;
}

.promo__per-day-dollar {
   font-size: 45px;
   line-height: 45px;
   font-weight: 600;
   display: inline;
   color: var(--dark-text-color)

}

.promo__per-day-price {
   font-size: 90px;
   line-height: 90px;
   letter-spacing: -1.8;
   margin-top: 30px;
   margin-block-start: 30px;
   display: inline;
   color: var(--dark-text-color);
}

.promo__text {
   color: var(--light-text-color);
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 1.4px;
   line-height: 22.4px;
   margin-top: 5px;
}

.mark-text {
   color: var(--light-text-color);
   display: flex;
   font-size: 17px;
   font-weight: 400;
   line-height: 27.54px;
   margin-bottom: 15px;
}

.promo__390per-day { 
  display: flex; 
  background-image: url(../img/pricing-promo-background.png); 
  position: absolute;
  background-size: auto; 
  flex-direction: column; 
  justify-content: center; 
  text-align: left; 
  width: 368.788;
  height: 583.912;
  margin-left: -12px;
  margin-right: -12px;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
} 

.promo__500per-day {
   display: flex; 
  background-color: var(--snow-color); 
  flex-direction: column; 
  justify-content: center; 
  text-align: left; 
  padding-bottom: 25px; 
  padding-top: 25px; 
  width: 344.788px; 
  height: 583.912px;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.mark { 
  color: rgb(90, 190, 82); 
  fill: rgb(90, 190, 82); 
  list-style-position: outside; 
  max-width: 20px; 
  flex-basis: 20px; 
  font-size: 17px; 
  height: 24px; 
  text-align: left; 
  vertical-align: middle; 
} 

.promo__rent-link-button { 
  cursor: pointer; 
  color: var(--snow-color); 
  background-color: var(--first-accent-color); 
  border-radius: 25px 25px; 
  font-weight: 700; 
  font-size: 16.5; 
  height: 48.5px; 
  line-height: 16.5px; 
  text-align: center; 
  letter-spacing: 0.165px; 
  width: 144.125px; 
} 

.promo__rent-link-button:hover { 
  background-color: var(--second-accent-color); 
} 