.staff {
    background-image: url(/img/dark-background.webp);
    color: var(--snow-color);
    padding: 50px 0 0 0;
}
.staff__brief {
    display: flex;
    flex-direction: column;
}
.staff__brief-subtitle {
    display: flex;
    justify-content: center;
    color: var(--first-accent-color);
    font-weight: 500;
}
.staff__brief-title {
    display: flex;
    justify-content: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0 0 0; 
}
.staff__brief-description {
    margin: 15px 0 0 0; 
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--light-text-color);
    font-size: 20px;
    line-height: 30px;
}
.staff__position {
}
.staff__position-ceo {
}
.staff__position-image {
}
.staff__position-name {
}
.staff__position-line {
}
.staff__position-appointment {
}
.staff__position-socials {
    display: flex;
}
.facebook {
}
.facebook-icon {
    width: 50px;
}
.instagram {
}
.instagram-icon {
}
.youtube {
}
.youtube-icon {
}
.staff__position-cto {
}
.staff__position-consultant {
}