.staff {
    color: var(--snow-color);
    background-image: url(../img/dark-background.webp);
}
.staff__background {

    padding: 90px 24px;
    backdrop-filter: blur(5px) brightness(50%);
}
.staff__container {
    min-width: 320px;
    max-width: 1200px;
    margin: auto;

}
.staff__brief {
    display: flex;
    flex-direction: column;
}
.staff__brief-subtitle {
    display: flex;
    justify-content: center;
    color: var(--first-accent-color);
    font-weight: 500;
}
.staff__brief-title {
    display: flex;
    justify-content: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0 0 0; 
}
.staff__brief-description {
    margin: 15px 0 0 0; 
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--light-text-color);
    font-size: 20px;
    line-height: 30px;
}
.staff__position {
    margin: 50px 15px 0 15px;
}
.staff__position-ceo {
}
.staff__position-image {
    margin: 50px 0 0 0;
    padding: 0 15px;
    border-radius: 10px;
}
.staff__position-name {
    margin: 20px 0 0 0;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 15px;
}
.staff__position-line {
    height: 3px;
    text-align: center;
    background-color: var(--first-accent-color);
    display: flex;
    width: 17%;
    margin: auto;
}
.staff__position-appointment {
    padding-top: 15px;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    color: var(--light-text-color);

}
.staff__position-socials {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.icon {
    width: 30px;
    height: 30px;
    margin: 0 15px;
}
.facebook-icon:hover {
    fill: var(--light-text-color);
}
.instagram-icon:hover {
    fill: var(--light-text-color);
}
.youtube-icon:hover {
    fill: var(--light-text-color);
}
.facebook {
}
.facebook-icon {
    margin: 0 5px 10px 5px;
    width: 50px;
}
.instagram {
}
.instagram-icon {
    margin: 0 5px 10px 5px;
    width: 50px;
}
.youtube {
}
.youtube-icon {
    margin: 0 5px 10px 5px;
    width: 50px;
}
.staff__position-cto {
}
.staff__position-consultant {
}
@media(min-width: 768px) {
    .staff {
    }
    .staff__container {
        padding: 100px 32px 105px 32px;
    }
    .staff__position {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .staff__position-ceo {
        grid-column: 1/3;
    }
    .staff__position-cto {
        grid-column: 3/5;
    }
    .staff__position-consultant {
        grid-column: 2/4;
        align-content: center;
    }
}
@media(min-width: 992px) {
    .staff {
    }
    .staff__container {
        min-width: 320px;
        max-width: 1200px;
        margin: auto;
        padding: 110px 40px 100px 40px;
    }
    .staff__position {
        display: flex;
        margin-top: 50px;
    }
    .position {
        width: 33%;
    }       
    .staff__position-image {
        margin: auto;
        max-height: 600px;
        max-width: 450px;
        padding: 0 15px;
    }
}