.testimonials-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.comtainer-testimonial {
    border-width: 0px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.testimonial-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    min-width: 320px;
    max-width: 1200px;
    margin: auto;
}

.testimonial-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    min-width: 320px;
    max-width: 1200px;
    margin: auto;
}

.testimonial-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    min-width: 320px;
    max-width: 1200px;
    margin: auto;
}

.testimonials-description {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #222;
}

.testimonial-image {
    border-radius: 50%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.testimonial-name {
    font-family: 'Barlow Condensed', sans-serif;
    font-size:  28px;
    font-weight: bold;
    line-height: 1.3px;
    color: #222;
    margin-top: 30px;
}

.testimonial-position {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: #b3b3b3;
    line-height: 1.6px;
    margin-top: 25px;
}

.testimonial-description {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    color: #898989;
    margin-top: 40px;
}

.testimonial-date {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: #b3b3b3;
    line-height: 1.6px;
    margin-top: 30px;
}

.testimonials-general {
    margin-top: 110px;
}

.all-testimonials {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #f6c43d;
    line-height: 1.6px;
}

h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size:  65px;
    font-weight: bold;
    line-height: 1px;
    color: #222;
    margin-top: 1em;
    margin-bottom: 0.7em;
}
